/* Top Banner */
.topFixedBanner{
    background-image: url('../images/banner.jpg');
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.topBannerOverlay{
    position: absolute;
    min-height: 550px;
    width: 100%;
    background-color: rgb(0, 0, 0,0.7);
}
.topContent{
    margin-top: 10em;
}

.textCenter{
    text-align: center;
}

.topTitle{
    font-family: 'Montserrat, sans-serif';
    font-weight: 700;
    color: white;
    font-size: 48px;
}
.topTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 48px;
}
.topSubTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 24px;
}
/* End top banner */

/* Services */
.ecommerceIcon{
    height: 80px;
    width: 80px;
}
.designIcon{
    height: 80px;
    width: 80px;
}
.webIcon{
    height: 80px;
    width: 80px;
}

.serviceCard{
    margin: 5px;
    height: 22rem;
    padding: 60px 30px;
    box-shadow: 0 0 8px 0 rgb(4, 55, 105, 0.2);
    margin-top: 40px;
}

.serviceCard:hover{
    margin: 5px;
    height: 22rem;
    padding: 60px 30px;
    box-shadow: 0 0 16px 0 rgb(4, 55, 105, 0.2);
}

.serviceCardTitle{
    color: #051b35;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.serviceCardDescription{
    color: #696969;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.serviceTitle{
    color: #505050;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28;
}
.underlineOfServiceTitle{
    background: #051b35 none repeat scroll 0 0;
    height: 3px;
    width: 150px;
    margin: -1.9rem auto 0;
    margin-bottom: 2rem;
}

/* navbar */

.navBg{
    -webkit-transition: background-color 400ms linear;
    -moz-transition:background-color 400ms linear ;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgb(00, 00, 00,0.0) !important;
}
.navBgScroll{
    -webkit-transition: background-color 400ms linear;
    -moz-transition:background-color 400ms linear ;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #ffffff !important;
}
.navItem{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff  !important;
    font-weight: 400;
    font-size: 20px;
}
.navItemScroll{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #292929  !important;
    font-weight: 400;
    font-size: 20px;
}
/* end of navbar */

/* summery */
.summeryFixedBanner{
    background-image: url('../images/summary.jpg');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.summeryBannerOverlay{
    position: absolute;
    min-height: 400px;
    width: 100%;
    background-color: rgb(0, 0, 0,0.7);
}
.countNumber{
    color: #ffffff;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 48px;
}
.countTitle{
    color: #e6b515;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 24px;
}
#countSection{
    margin-top: 20%;
}
.cardTitle{
    color: #000000;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.cardSubTitle{
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.workCard{
    margin-top: 20%;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}
.iconBullent{
    color: #051b35;
    font-size: 16px;
}
.iconProject{
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 12px;
}
/* end of summery */

/* Project */
.projectCard{
    background-color: #ffffff;
    width: 22em;
    border-radius: 40px 40px;
    margin: 1em;
    cursor: pointer;
    box-shadow: 0 13px 25px -5px;
    transition: all ease 200ms;
}
.projectCard:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 30px -5px;
}
/* end of Project */

/* Course */
.courseImg{
    width: 100%;
}
.courseViewMore{
    color: #051b35;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}
/* end of Course */

/* Video */
.videoCard{
    box-shadow: 0 13px 10px -5px;
    padding: 8rem 3rem 8rem 3rem;
    background-color: #051b35;
    margin: 20px auto;
    border-radius: 12px;
}
.videoText{
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
}
/* end of Video */